<%= link_to "New Photo", new_photo_path %>

<div class="photo-shower">
  <% @photos.each do |photo| %>
    <%= link_to photo_path(photo.id) do %>
      <%= image_tag photo.image(:medium) %>
    <% end %>
  <% end %>
</div>