@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-tagsinput";

div {
    /*outline: 1px solid #3c1;*/
    outline: 1px solid rgba(51, 204, 17, 0.5);
}

.wrapper {
    width: 90%;
    margin: auto;
}

.photo-main .index {
	max-height: 480px;
	/*max-width: 480px;*/
	/*width: auto;*/
	width: 100%;
}
.photo-main .comment-form {
}

.photo-holder {
}

.user-avatar {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}
.user-avatar-sm {
	width: 24px;
	height: 24px;
	border-radius: 12px;
}


.photo-status {
	font-size: 20px;
}

p.thecontent {
	display: inline;
}