$("#comments-<%= @photo.id %>").append("<tr><td><%= j(link_to image_tag(@comment.user.image, :class => "user-avatar-sm pull-left"), user_path(@comment.user) ) %><p><%= @comment.content %></p></td></tr>");

$("#comment-form<%= @photo.id %>").trigger("reset");